  <tr class="{% cycle "" "tdbggrey" %} taskrow">
    <td width="17%" class="projectname1"  >
		<a></a>
		</td>
    <td width="17%" class="projectname1"  >

		<a href="{{sub_task.task.get_absolute_url}}">{{sub_task.task.name}}</a>
		</td>
    <td width="14%">
		 {{sub_task.task.expected_start_date|date}}
		 </td>
    <td width="14%">
		{{sub_task.task.expected_end_date|date}}
		</td>
	  <td width="14%">
		 {{sub_task.task.user_responsible}}
		 </td>
	<td width="7%" >
					<a href="{{sub_task.task.edit_url}}">
                <img src="/static/images/edit.png" alt="edit" />
                
            </a>
	</td>
    <td width="7%" >
		<form action="." method="post" id="markdone-{{sub_task.task.id}}" class="markdone">
			{% csrf_token %}
		<div>
            {% if sub_task.task.is_complete %}
                <input type="hidden" name="taskid" value="{{sub_task.task.id}}" />
		<input type="hidden" name="markundone" value="markundone" />
		<input type="checkbox" name="markundone_check" value="{{sub_task.task.is_complete}}" checked="checked" onclick="this.form.submit();" />
            
            {% else %}
                <input type="hidden" name="taskid" value="{{sub_task.task.id}}" />
		<input type="checkbox" name="markdone" value="{{sub_task.task.is_complete}}" onclick="this.form.submit();"/>
            {% endif %}
		</div>
    </form> 
		</td>
    <td width="7%" >
		<form action="." method="post" id="markdone-{{sub_task.task.id}}" class="markdone">
			{% csrf_token %}
		<div>
            {% if parent_task.overdue %}
		<input type="checkbox" name="markundone_check" value="{{sub_task.overdue}}" checked="checked"  disabled="disabled"  />

            {% else %}
		<input type="checkbox" name="markdone" value="{{sub_task.overdue}}"  disabled="disabled"/>
            {% endif %}
		</div>
    </form>
		</td>
	
  </tr>
	
	            <tr class="taskrowdetail">
                <td>Actual start date</td>
                <td>
								{% if sub_task.task.actual_start_date %}
								{{sub_task.task.actual_start_date|date}}
								{% else %}
								No date specified
								{% endif %}
								
								</td>
            </tr>
            <tr class="taskrowdetail">
                <td>Actual end date</td>
                <td>
								{% if sub_task.task.actual_end_date %}
								{{sub_task.task.actual_end_date|date}}
								{% else %}
								No date specified
								{% endif %}
								
								</td>
            </tr>