{% extends "__base.html" %}

{% load i18n %}

{% block head_title %}{{ user }}'s {% trans "profile" %}{% endblock %}


{% block content %}

<H2>欢迎进入{{ user.username }}的主页</H2>
    {# Dirty hack. Will use django-guardian in the future. #}
    {% if user.username == user.username %}
    <ul id="profile-nav">
        <li class="selected"><a href="{% url 'account-profile-detail' user.username %}">我的Pofile</a></li>
        <li><a href=#>编辑Profile</a></li>
        <li><a href="{% url 'account_change_password' %}">修改密码</a></li>
        <li><a href="{% url 'account_reset_password' %}">重置密码</a></li>
    </ul>
    {% endif %}

    <div id="details">
        {% if user.username %}
        <p><strong>姓名</strong><br /> {{ user.username }}</p>
        {% endif %}
        {% if user.email %}
        <p><strong>邮箱</strong><br /> {{ user.email }}</p>
        {% endif %}
        {% if user.groups.all.0 %}
        <p><strong>公司</strong><br /> {{ user.groups.all.0 }}</p>
        {% endif %}
    </div>


{% endblock %}
