{% extends "__base.html" %}

{% load i18n %}


{% block content %}

<H2>{{ group_name }}的团队</H2>
    {# Dirty hack. Will use django-guardian in the future. #}
    {% if user_list%}
				{% for object in user_list %}
					<div class="panel panel-success">
						<div class="panel-heading">姓名：{{ object.username }}</div>
						<div>职务：{{ object.title }}</div>
						<div class="panel-footer">注册时间: {{ object.date_joined }}</div>
					</div>
                    <p></p>
				{% endfor %}
    {% endif %}
{% endblock %}
