{% extends 'dashboard/layout.html' %}
{% load sorting_tags %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block body_class %}{{ block.super }} create-page partners{% endblock %}
{% block title %}
    {{ partner.name }} | {% trans "Partners" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:partner-list' %}">{% trans "Partners" %}</a>
        </li>
        <li class="active">{{ partner.name }}</li>
    </ul>
{% endblock %}

{% block headertext %}{{ partner.name }}{% endblock %}

{% block dashboard_content %}

    <div class="row">
        <div class="col-md-12">
            <div class="table-header">
                <h2>{{ title }}</h2>
            </div>
            {% include "dashboard/partials/form.html" with form=form class="well" %}
        </div>
    </div>
{% endblock dashboard_content %}
